.submit {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin: 20px auto 0;
  background-color: #1A1612;
  color: white;
  font-size: 15px; 
  letter-spacing: .08em; 
  text-transform: uppercase;
  font-family: sans-serif; 
  cursor: pointer; 
  font-weight: 400;
  transition: color .10s;
}

.page-view {
  height: 90%;
  width: 80%;
  max-width: 540px;
  justify-self: center;
}

.page-container {
  height: 100%;
  width: 100%;
}

.submit:hover {
  color: #D4AF37;
}

.turn-order {
  display: flex; 
  height: 10%;
  background-color: #f1f1f1;
  border: 2px solid #A89B8C;
  border-radius: 10px; 
  padding: 4px; 
  flex-direction: row;
  gap: 6px;
}

.button1 {
  flex: 1;
  height: 30px;
  border-radius: 10px; 
}



/*Leaderboard*/
.table {
  height:"90%";
  text-align:"center";
  color: black;
  overflow: scroll;
  max-width: 540px;
}

.table::-webkit-scrollbar {
  display: none;
}