.submit {
  display: block;
  width: 540px;
  height: 50px;
  border-radius: 10px;
  margin: 20px auto 0;
  background-color: #1A1612;
  color: white;
  font-size: 15px; 
  letter-spacing: .08em; 
  text-transform: uppercase;
  font-family: sans-serif; 
  cursor: pointer; 
  font-weight: 400;
  transition: color .10s;
}

.page-container {
  justify-self: center;
  height: auto;
  width: 540px;
}

.submit:hover {
  color: #D4AF37;
}


/*Leaderboard*/

.table {
  height:"90%";
  text-align:"center";
  color: black;
  overflow: scroll;
}

.table::-webkit-scrollbar {
  display: none;
}